

body {
    font-family: Arial, sans-serif;
    background-image: url("movie2.jpg");
    background-size: cover;
}

.custom-form {
    max-width: 400px;
    margin: 0 auto;
}

.custom-form input[type="text"],
.custom-form input[type="email"],
.custom-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #925388;
}


.submit-button {
    background-color: #925388;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.submit-button:hover {
    background-color: orange;
}


.custom-form label {
    font-weight: bold;
}


.custom-form .errorlist {
    color: red;
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.custom-form {
    background-color: #f2f2f2a7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
