
body {
    font-family: Arial, sans-serif;
    background-image: url("movie2.jpg");
    background-size: cover;
}

.container {
    text-align: center;
    margin-top: 100px;
}

.welcome-heading {
    font-size: 46px;
    color: #ffffff;
    background-color: #925388;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 20px;
    opacity: 0.7;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.action-button, .logout-button {
    background-color: #925388;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.action-button:hover, .logout-button:hover {
    background-color: #0056b3;
}
.links{
    text-decoration: none;
    color: #ffffff;
}
